/* 사이드바 화면 끝까지 있도록 설정 */

/* 사이드바 전체 */
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 240px;
    height: calc(100vh - 56px); /* 사이드바 높이 : 전체 vh에서 헤더만큼의 px를 빼줌*/
    background-color: #212121;
    /* position: fixed; 위치 고정 */
    position: fixed;
    top: 56px; /* 헤더 높이만큼 아래로 이동 */
    overflow-y: auto; /* y 방향 넘치는 만큼 스크롤 가능 */
}

/* 모든 ul에 적용 (sidebar-top1, top2, subscriptions, bottom 등) */
#home-sidebar ul {
    display: flex;
    flex-direction: column;
    padding: 12px 0px;
}

/* 모든 li에 적용 */
#home-sidebar li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 8px 24px;
}

/* li에 hover 하면 배경색 변경됨 */
#home-sidebar li:hover {
    background-color: #303030;
}

/* 모든 a태그에 적용 */
#home-sidebar a {
    width: 144px;
    margin-left: 24px;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    /* a태그의 밑줄을 없애줌 */
}

/* 모든 이미지에 적용*/
#home-sidebar img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

/* 모든 타이틀에 적용 */
#home-sidebar .sidebar-title {
    padding: 8px 24px;
    color: #AAAAAA;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
}

#sidebar-footer {
    display: flex;
    flex-direction: column;
}

#sidebar-footer div {
    display: flex;
    flex-flow: row wrap;
}

#sidebar-footer div:nth-child(1) {
    padding: 16px 24px 0px 24px;
}

#sidebar-footer div:nth-child(2) {
    padding: 12px 24px 0px 24px;
}

#sidebar-footer div:nth-child(3) {
    padding: 16px 24px;
}

#sidebar-footer a {
    color: #AAA;
    font-size: 13px;
    font-weight: 700;
    height: auto;
    /* 글자간의 간격 설정 */
    margin-right: 8px;
    /* 위에 top, top2 등에 적용된 a 태그 마진 초기화 */
    width: initial;
    margin-left: initial; 
}

#sidebar-footer span {
    color: #AAA;
    font-size: 12px;
    font-weight: 700;
}

hr {
    background-color: #303030;
    width: 224px;
    height: 1px;
    border: none;
}