/* 화면 전체 사이즈 및 폰트 설정 */
body {
    width: 100%;
    background-color: #181818;
    font-family: 'Roboto', Arial, sans-serif;
}

/*html에 video section과 video aside를 한번에 묶는 컨테이너 필요!*/
#video-section-aside {
    width: 100%;
    position: relative;
    top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* section 정렬 */
#video-section {
    width: 44%;
    /* 640px / 1440px */
    display: flex;
    flex-direction: column;
    padding: 24px 0px 429px 24px;
    margin: 0px 24px 0px 11.25%;
    /* 11.25% : 섹션 왼쪽 마진 */
}

/* section의 영상 영역 (동영상, 영상 제목, 기타 정보 포함) */
#video-player {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* 동영상 */
#main-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* 임시용 */
    background-color: rgb(85, 85, 85);
}

/* 영상 제목 */
#video-main-title {
    /* 폰트 관련 설정(피그마에서 가져옴) */
    color: white;
    font-variant-numeric: stacked-fractions;
    font-feature-settings: 'hlig' on, 'dlig' on;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.18px;
    /* 동영상과 간격 */
    margin-top: 23px;
}

/* 영상 기타 정보(views, 날짜) */
#video-info {
    width: 100%;
    height: 40px;
    /* 정렬 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* 구분선까지 간격 */
    margin-bottom: 8px;
}

#video-views-date {
    width: 175px;
}

#video-views-date>span {
    color: #aaa;
    font-size: 14px;
    font-weight: 700;
}

/* 좋아요, 싫어요, SHARE, SAVE, ... 버튼 */
#reaction {
    display: flex;
    flex-direction: row;
}

#reaction>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-reaction-btn {
    width: 24px;
    height: 24px;
    padding: 8px 6px;
    cursor: pointer;
}

.video-reaction-text {
    width: fit-content;
    height: fit-content;
    padding: 12px 6px 12px 0px;
    /* 오른쪽 요소와의 간격 */
    margin-right: 8px;
    /* 폰트 설정  */
    color: white;
    font-size: 12px;
    font-weight: 700;
}

/* video-desc : 채널 프로필, 채널명, 구독 버튼, 영상 설명 영역 */
#video-desc {
    width: 100%;
    height: fit-content;
    /* 아래 구분선까지 간격 */
    margin-bottom: 16px;
}

#video-channel-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* 위 구분선까지 간격 */
    margin-top: 16px;
}

#video-channel-title>div:last-child{
    margin-left: auto;
}

#video-main-profile {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    border-radius: 50%;
}

#video-main-channel-name {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

#video-subscriber {
    font-size: 12px;
    color: gray;
}

#subscribe-btn {
    background-color: red;
    color: white;
    border-color: transparent;
    border-radius: 2px;
    padding: 10px 16px;
    cursor: pointer;
    /* margin-left: 362px; */
}

#video-desc-text {
    width: calc(100%-64px);
    height: fit-content;
    max-height: 42px;
    padding-top: 12px;
    padding-left: 64px;
    /* 폰트 설정 */
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    /* 3줄 이상이면 자르기 */
    display: -webkit-box; /* 해당 영역을 box 형태로 관리 */
    -webkit-line-clamp: 3; /* 최대 라인수 설정 */
    -webkit-box-orient: vertical; /* box의 흐름 방향을 수직으로 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
}

#video-show-more{
    position: relative;
    top: 4px;
    padding-left: 64px;
    /* 폰트 설정 */
    color: #AAA;
    font-size: 12px;
    font-weight: 700;
}

/* 댓글 파트 */
#video-comments{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* 위 구분선 간격 */
    margin-top: 24px;
}

/* Comments, SORT BY 부분 */
#comments-sortby {
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#video-comments-count, #video-sort-by {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

#video-dropdown {
    width: 24px;
    height: 24px;
    margin-left: 28px;
    margin-right: 8px;
    cursor: pointer;
}

/* 댓글 입력 박스 */
#add-comment {
    height: 40px;
    /* 정렬 */
    display: flex;
    flex-direction: row;
    /* comments-sortby와 간격 */
    margin-top: 24px;
    /* 다른 댓글들과의 간격 */
    margin-bottom: 32px;
}

.video-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* 간격 */
    margin-right: 16px;
}

#video-comment-area {
    width: 100%;
    background-color: transparent;
    height: 24px;
    border-width: 0 0 1px 0;
    border-color: #303030;
    /* placeholder 설정 */
    color: #AAA;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

 /* 다른 사람들 댓글 보이는 영역 (James Gouse, Alan Cooper 있는 부분) */
.user-comment-box {
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

 .video-user-name {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
}

.video-comment-time {
    color: #AAA;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.video-comment-text {
    font-size: 14px;
    color: white;
    /* 이름, 8 hours ago와의 간격 */
    margin-top: 4px;
    /* 아래 툴박스(좋아요, 싫어요, reply)와의 간격 */
    margin-bottom: 2px;
}

/* 댓글에 대한 like, dislike, reply 파트 */
.video-comment-toolbar{
    /* 정렬 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.video-like {
    width: 18px;
    height: 18px;
    padding: 7px;
    cursor: pointer;
}

.video-like-text {
    /* 폰트 */
    color: #AAA;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    /* 간격 */
    padding: 7px 8px 7px 0px;
}

.video-comment-reply {
    /* 폰트 */
    color: #AAA;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    /* 간격 */
    padding: 8px 16px;
    /* 기타 설정 */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* aside 파트 */
#video-aside {
    width: 28%;
    gap: 2px;
    /* 402px / 1440px */
    display: flex;
    flex-direction: column;
    padding: 24px 24px 429px 0px;
    margin-right: 11.25%;
}

/* aside의 Top menu */
#top-menu {
    /* aside 전체 너비에 대략 맞춤 */
    width: 109%;
    height: 51px;
    /* 넘치면 스크롤 가능 */
    overflow: scroll;
}

/* top-menu 스크롤바 숨김 */
#top-menu::-webkit-scrollbar {
    display: none;
}

#video-aside-menu{
    width: max-content;
    height: 51px;
    /* flex 설정 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#video-aside-menu a{
    /* 간격 설정 */
    margin: 8px 8px 8px 0px;
    padding: 8px 12px;
    /* 배경 및 테두리 */
    background-color: #303030;
    border: 0.3px solid #AAA;
    border-radius: 32px;
    /* a태그의 밑줄을 없애줌 */
    text-decoration: none;
    /* 폰트 설정 */
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

#video-aside-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.video-aside-container{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 8px;
}

.video-aside-container>div:nth-child(1){
    width: 168px;
    height: 94px;
    background-color: rgb(85, 85, 85);
    position: relative;
}

.video-aside-time {
    /* 시간 박스 */
    display: block;
    width: 33px;
    height: 18px;
    background-color: black;
    /* 시간 폰트 */
    font-size: 10px;
    color: #FFF;
    text-align: center;
    line-height: 18px;
    /* 썸네일 위에 올리기 */
    position: absolute;
    top: 76.5%;
    left: 78%;
}

.video-aside-container>div:nth-child(2) {
    width: 226px;
    height: 94px;
    /* 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-aside-title {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 2px;
}

.video-aside-channel-name, .video-aside-sub-info {
    color: #AAA;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

/* 구분선 속성 */
hr {
    width: 100%;
    border: 1px solid #303030;
    margin: initial;
}